@page
@model IndexModel

<h1>Welcome to the Library Management System </h1>

<p>This is the home page of your application. From here, you can navigate to different sections of the library management system.</p>

<div>
    <a asp-page="/Book/Index">Manage Books</a> |
    <a asp-page="/Borrowing/Index">Manage Borrowings</a> |
    <a asp-page="/Readers/Index">Manage Readers</a>
</div>
